@model IEnumerable<Bioscoopsysteem.Models.Show>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                   Datum
                </th>
                <th>
                    Zaal ID
                </th>
                <th>
                   Film
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HallId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ShowId">Aanpassen</a> |
                        <a asp-action="Details" asp-route-id="@item.ShowId">Informatie</a> |
                        <a asp-action="Delete" asp-route-id="@item.ShowId">Verwijderen</a> | 
                        <a asp-controller="Tickets" asp-action="Create" asp-route-id="@item.ShowId">Ticket kopen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
</div>