@model IEnumerable<Bioscoopsysteem.Models.Show>

@{
    ViewData["Title"] = "Shows";
}
<div class="container">
    <h1>Up coming shows:</h1>
    <label for="timeFrames">Filter within:</label>
    <div class="row">
        <div>
            <form asp-action="Index" method="get">
                <select name="timeFrames" id="timeFrames">
                    <option value="twoHours">2 hours</option>
                    <option value="fourHours">4 hours</option>
                </select>   <input type="submit" value="OK" class="btn btn-primary" />
            </form>
        </div>

        <div class="ml-2">
            <form asp-action="Index" method="get">
                <select name="genre" id="genre">
                    <option value="Drama">Drama</option>
                    <option value="Crime, Drama">Crime, Drama</option>
                    <option value="Action, Crime, Drama">Action, Crime, Drama</option>
                    <option value="Crime, Drama">Crime, Drama</option>
                </select>   <input type="submit" value="OK" class="btn btn-primary" />
            </form>
        </div>
    </div>
    
    <br />
    <a asp-action="Index">Back to full list</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Zaal
                </th>
                <th>
                    Film
                </th>
                <th>
                    Ticket prijs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket_price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ShowId">Informatie</a> |
                    <a asp-controller="Customers" asp-action="Go_buy_ticket" asp-route-id="@item.ShowId">Ticket kopen</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>