@model IEnumerable<Bioscoopsysteem.Models.Show>

@{
    ViewData["Title"] = "Shows";
}
<div class="container">
    <h1>Films binnen 2 uur:</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Zaal
                </th>
                <th>
                    Film
                </th>
                <th>
                    Ticket prijs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HallId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket_price)
                    </td>
                    <td>                      
                        <a asp-action="Details" asp-route-id="@item.ShowId">Informatie</a> |                   
                        <a asp-controller="Customers" asp-action="Go_buy_ticket" asp-route-id="@item.ShowId">Ticket kopen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>